/Library
/Obj
/Temp
**/.vs/
/Bin
DNETUnitTest/bin/
DNETUnitTest/obj/
DNET/obj/
DNET/bin/
*.user
SimpleSever/bin/
SimpleSever/obj/
U3D/DNetTest/\.vs/
U3D/DNetTest/Library/
U3D/DNetTest/log/
U3D/DNetTest/Temp/
/.idea/

